<li class="start ">
    <a href="javascript:;">
        <i class="icon-home"></i>
        <span class="title">USER</span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="{{ url_for('bp_welcome.senior') }}">
                <i class="icon-bar-chart"></i>
                总经理</a>
        </li>
        <li>
            <a href="{{ url_for('bp_welcome.shopowner') }}">
                <i class="icon-bulb"></i>
                店长</a>
        </li>
        <li>
            <a href="{{ url_for('bp_welcome.worker') }}">
                <i class="icon-graph"></i>
                店员</a>
        </li>
    </ul>
</li>