{% extends 'base_index1.html' %}
<!-- BEGIN  centent -->
{% block content %}
    <div class="container about">
        <h2><img src="{{ url_for('static',filename='admin/img/gene-publications.png') }}"
                 alt="logo" class="logo-default">About References:</h2>
        <hr>
        <h3>啦啦啦这是publications1</h3>
        <h4>The bee</h4>
        <p>Zhu, Bo, et al.The Bee Cell(2015):2415-2426.</p>
        <br>
        <h3>啦啦啦这是publication2</h3>
        <h4>The honey bee</h4>
        <p>hhhhaha, et al.The Bee Cell(2015):2415-2426.</p>
        <br>
    </div>
{% endblock %}
<!-- END  centent -->